/* Reset CSS */
body, header, nav, ul, li, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('韩信典藏.webp');
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #f5f5f5;
  }
  

  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #6e5c5c;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 167px;
    height: 60px;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #bdacac;
    text-decoration: none;
    padding: 10px;
  }
  
  section.content {
    flex: 1;
    padding: 40px;
    text-align: center;
  }
  
  section.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #faf604;
  }
  
  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
  }
  
  .hero {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .hero img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .hero p {
    line-height: 1.6;
    color: #0aec30;
  }

  .hero-link{
    text-decoration: underline;
    text-decoration-color: red;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  